<div class="container my-3" ng-if="user">
    <div class="row">
        <div class="col-md-12">
            <h4 class="text-left">МОИ ДАННЫЕ</h4>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <ul class="nav nav-tabs pointer card-header-tabs" >
                <li class="nav-item active" ng-click="setMask();selectedPage = 'mainInfo'" >
                    <a class="nav-link" ng-class="{'active':selectedPage == 'mainInfo'}" role="tab" data-toggle="tab" >Основные</a>
                </li>
                <li class="nav-item" ng-click="setMask();selectedPage = 'documents'" >
                    <a class="nav-link" ng-class="{'active':selectedPage == 'documents'}" role="tab" data-toggle="tab"  >Документы</a>
                </li>
                <li class="nav-item" ng-click="setMask();selectedPage = 'representative'" >
                    <a class="nav-link" ng-class="{'active':selectedPage == 'representative'}" role="tab" data-toggle="tab">Представитель</a>
                </li>
                <li class="nav-item" ng-click="setMask();selectedPage = 'address'" >
                    <a class="nav-link" ng-class="{'active':selectedPage == 'address'}" role="tab" data-toggle="tab" >Адрес</a>
                </li>
                <li class="nav-item" ng-click="setMask();selectedPage = 'education'" >
                    <a class="nav-link" ng-class="{'active':selectedPage == 'education'}" role="tab" data-toggle="tab" >Образование</a>
                </li>
                <li class="nav-item" ng-click="setMask();selectedPage = 'exmas'" >
                    <a class="nav-link" ng-class="{'active':selectedPage == 'exmas'}" role="tab" data-toggle="tab" >Экзамены</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div class="tab-content">
                <div class="tab-pane in active" >
                    <div ng-include="setPage(selectedPage)"></div>
                </div>
            </div>
        </div>
    </div>
</div>
