<div class="container my-3">
    <div class="row">
        <div class="col-12">
            <h4 class="text-left">ДОБРО ПОЖАЛОВАТЬ</h4>
            <p>{{user.firstName+' '+user.lastName}}</p>
        </div>
        <div class="col-md-12 col-lg-6 my-5" >
            <div id="eventCalendar">

            </div>
        </div>
        <div class="col-md-12 col-lg-6 my-5">
            <!-- VK Widget -->
            <div id="vk_groups" style="width: 515px; height: 903px; background: none;">
                <iframe name="fXD46247" frameborder="0" src="https://vk.com/widget_community.php?app=0&amp;width=515px&amp;_ver=1&amp;gid=155412882&amp;mode=4&amp;color1=&amp;color2=&amp;color3=&amp;class_name=&amp;wide=1&amp;height=900&amp;url=file%3A%2F%2F%2FC%3A%2FUsers%2Fdsmirnov%2FDownloads%2FSITE%2Fhome.html&amp;referrer=&amp;title=Pages&amp;17182a0a0e2" width="515" height="900" scrolling="no" id="vkwidget1" style="overflow: hidden; height: 903px;">
                </iframe>
            </div>
        </div>
    </div>
</div>