<div class="mt-4" bottomMarginig">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4 class="text-left" >ПОДДЕРЖКА</h4>
            </div>
        </div>
        <div class="row" class="marginBottom10">
            <div class="col-md-12">
                <div  class="marginBottom10">
                    <p class="text-left" style="margin-bottom: 40px;">Мы всегда рады Вам помочь, поэтому вы можете связаться с нами:</p>
                </div>
                <div class="marginBottom10">
                    <ul class="list-unstyled text-left fa-ul">
                        <li class="marginBottom10">
                            <i class="fa fa-comments text-primary mr-2"></i>
                            Написав нам в группу&nbsp;
                            <a target="_blank" href="https://vk.com/abiturkgu">ВКонтакте</a>
                        </li>
                        <li class="marginBottom10">

                            <i class="fa fa-mail-bulk text-primary mr-2"></i>
                            Отправив нам письмо на электронную почту:&nbsp;
                            <a href="mailto:priem@ksu.edu.ru">priem@ksu.edu.ru</a>
                        </li>
                        <li  class="marginBottom10">
                            <i class="fa fa-phone text-primary mr-2"></i>
                            Позвонить по номеру телефона:
                            <a href="tel:(4942) 49-80-44">(4942) 49-80-44</a>
                        </li>
                        <li>
                            <i class="fas fa-exclamation-circle text-primary mr-2"></i>
                            Написать нам прямо с ЭТОЙ страницы!
                        </li>
                    </ul>
                </div>
                <div class="marginBottom10"></div>
            </div>
        </div>
        <div>
            <div>
                <script type="text/javascript" src="https://vk.com/js/api/openapi.js?167"></script>
                <!-- VK Widget -->
                <div id="vk_community_messages" style="width: 372px; height: 399px; position: fixed; z-index: 10000; bottom: 0px; right: 20px; margin: 0px; background: none;"><iframe name="fXD3b11d" frameborder="0" src="https://vk.com/widget_community_messages.php?app=0&amp;width=300px&amp;_ver=1&amp;gid=191147253&amp;disable_welcome_screen=1&amp;ref_source_info=undefined&amp;ref_source_link=file%3A%2F%2F%2FC%3A%2FUsers%2Fdsmirnov%2FDownloads%2FSITE%2Fsupport.html&amp;tooltip_text=%D0%9F%D1%80%D1%8F%D0%BC%D0%BE%20%D0%B7%D0%B4%D0%B5%D1%81%D1%8C!&amp;domain=&amp;button_position=undefined&amp;height=399&amp;url=file%3A%2F%2F%2FC%3A%2FUsers%2Fdsmirnov%2FDownloads%2FSITE%2Fsupport.html&amp;referrer=&amp;title=Pages&amp;17182e3451a" width="372px" height="399px" scrolling="no" id="vkwidget1" style="overflow: hidden; box-shadow: none;"></iframe></div>
                <script type="text/javascript">
                    VK.Widgets.CommunityMessages("vk_community_messages", 191147253, {expandTimeout: "5000",disableExpandChatSound: "1",tooltipButtonText: "Прямо здесь!"});
                </script>
            </div>
        </div>
    </div>
</div>