<div class="container topMargin bottomMargin">
    <h4 class="text-center black main-text margin0">Вспомнить пароль</h4>
    <br>
    <div class="row ">
        <div class="col-12 text-center">
            <input class="border rounded form-control-sm main_input" ng-model="email"
                   id="email" type="text"
                   placeholder="Укажите вашу почту при регистарции">
            <hr>
        </div>
    </div>
    <div class="row marginTop5">
        <div class="col-12 text-center">
            <div class="marginBottom10">
                <a href="#/support">Не пришло письмо?</a>
            </div>
            <button class="btn btn-primary" ng-click="remember()" type="button">Продолжить</button>
        </div>
    </div>
</div>

