<div class="container loginMargin">
    <div class="row" >
        <div class="col-xs-12 col-md-12 col-lg-12">
            <div>
                <h4 class="text-center margin0" >ЛИЧНЫЙ КАБИНЕТ</h4>
                <p class="text-center small margin0">ПОДАЙ ЗАЯВЛЕНИЕ. ОТСЛЕЖИВАЙ СПИСКИ.</p>
            </div>
            <div class="text-center">
                <input class="border rounded form-control-sm main_input" type="login" ng-model="loginUser.login" id="inputLogin" class="login_input" placeholder="ЛОГИН">
            </div>
            <div class="text-center" class="marginBottom10">
                <input class="border rounded form-control-sm main_input marginTop10" type="password" ng-model="loginUser.password" id="inputPassword"   placeholder="ПАРОЛЬ">
                <button ng-click="authorization()" class="btn loginButton" type="button" >
                </button>
            </div>
            <!-- <div style="height: 78px;">
                 <div class="custom-control custom-switch" style="margin-bottom: 5px;"><input class="custom-control-input" type="checkbox" id="formCheck-1"><label class="custom-control-label" for="formCheck-1" style="color: rgb(126,126,126);font-size: 12px;font-family: Montserrat, sans-serif;padding-top: 3px;margin-bottom: 7px;">ЗАПОМНИТЬ МЕНЯ</label></div>
                 <a href="#" style="color: rgb(0,0,0);">Забыли email или пароль?</a>
                 <div style="margin-top: 6px;"><a href="#" style="color: rgb(0,0,0);">Создать аккаунт</a></div>
             </div>-->
            <div class="text-center">
                <a href="#/registration" class="pointer text-nowrap">Создать аккаунт</a>
                <br>
                <a href="#/remember" class="pointer text-nowrap">Забыли логин или пароль?</a>
            </div>
        </div>
    </div>
</div>


