<div>
    <div class="row" >
        <div class="col-xs-12 col-md-6 col-lg-3 text-left">
            <p class="margin0 small text-nowrap marginBottom20">
                <b>ДАННЫЕ ЗАЯВИТЕЛЯ</b>
            </p>
            <p class="margin0 small text-nowrap">ТИП ДОКУМЕНТА</p>
            <input ng-model="userDocument.documentType" ng-class="{'ng-invalids':isUserDocumentError && userDocument.documentType}"   class="border rounded form-control-sm lk_input marginBottom20" type="text" >
            <p class="margin0 small">ГРАЖДАНСТВО</p>
            <input ng-model="userDocument.citizenship" ng-class="{'ng-invalids':isUserDocumentError && userDocument.citizenship}"   class="border rounded form-control-sm lk_input marginBottom20" type="text" >
            <p class="margin0 small">СЕРИЯ</p>
            <input ng-model="userDocument.series" class="border rounded form-control-sm lk_input marginBottom20" type="text" >
            <p class="margin0 small">НОМЕР</p>
            <input ng-model="userDocument.documentNumber" ng-class="{'ng-invalids':isUserDocumentError && userDocument.documentNumber}"   class="border rounded form-control-sm lk_input marginBottom20" type="text" >
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3 text-left">
            <p class="margin0 small text-nowrap marginCol" >КОД ПОДРАЗДЕЛЕНИЯ</p>
            <input ng-model="userDocument.documentCode" ng-class="{'ng-invalids':isUserDocumentError && userDocument.documentCode}"   class="border rounded form-control-sm lk_input marginBottom20" type="text" >
            <p class="margin0 small text-nowrap" >ДАТА ВЫДАЧИ</p>
            <input ng-model="userDocument.receiveDate" placeholder="дд.мм.гггг" id="documentReceiveDate"  ng-class="{'ng-invalids':isUserDocumentError && userDocument.receiveDate}"   class="border rounded form-control-sm lk_input marginBottom20" type="text" >
            <p class="margin0 small text-nowrap" >КЕМ ВЫДАН</p>
            <input ng-model="userDocument.receiveBy" ng-class="{'ng-invalids':isUserDocumentError && userDocument.receiveBy}"   class="border rounded form-control-sm lk_input marginBottom20" type="text" >
            <p class="margin0 small text-nowrap" >МЕСТО РОЖДЕНИЯ</p>
            <input ng-model="userDocument.placeOfBirth" ng-class="{'ng-invalids':isUserDocumentError && userDocument.placeOfBirth}"   class="border rounded form-control-sm lk_input marginBottom20" type="text" >
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3 text-left">
            <p class="margin0 small text-nowrap marginBottom20">
                <b>ПРЕДЫДУЩИЙ ДОКУМЕНТ</b>
            </p>
            <p class="margin0 small text-nowrap">ТИП ДОКУМЕНТА</p>
            <input ng-model="userDocument.oldDocumentType"   class="border rounded form-control-sm lk_input marginBottom20" type="text" >
            <p class="margin0 small">ГРАЖДАНСТВО</p>
            <input ng-model="userDocument.oldCitizenship"   class="border rounded form-control-sm lk_input marginBottom20" type="text" >
            <p class="margin0 small text-nowrap">СЕРИЯ</p>
            <input ng-model="userDocument.oldSeries"  class="border rounded form-control-sm lk_input marginBottom20" type="text" >
            <p class="margin0 small text-nowrap">НОМЕР</p>
            <input ng-model="userDocument.oldDocumentNumber"  class="border rounded form-control-sm lk_input marginBottom20" type="text" >
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3 text-left">
            <p class="margin0 small text-nowrap marginCol">КОД ПОДРАЗДЕЛЕНИЯ</p>
            <input ng-model="userDocument.oldDocumentCode"  class="border rounded form-control-sm lk_input marginBottom20" type="text" >
            <p class="margin0 small text-nowrap">ДАТА ВЫДАЧИ</p>
            <input ng-model="userDocument.oldReceiveDate" placeholder="дд.мм.гггг" id="oldDocumentReceiveDate"  class="border rounded form-control-sm lk_input marginBottom20" type="text" >
            <p  class="margin0 small text-nowrap">КЕМ ВЫДАН</p>
            <input ng-model="userDocument.oldReceiveBy"  class="border rounded form-control-sm lk_input marginBottom20" type="text" >
            <p  class="margin0 small text-nowrap">МЕСТО РОЖДЕНИЯ</p>
            <input ng-model="userDocument.oldPlaceOfBirth"  class="border rounded form-control-sm lk_input marginBottom20" type="text" >
        </div>
    </div>
    <div class="row marginBottom20" >
        <div class="col-xs-12 col-md-12 col-lg-12">
            <button ng-click="saveUserDocuments()" class="btn btn-primary" type="button">СОХРАНИТЬ</button>
        </div>
    </div>
</div>

