<div>
    <div class="row" >
        
    </div>
    <div class="row marginBottom20">
        <div class="col-xs-12 col-md-12 col-lg-12">
            <button ng-click="saveUserExams()" class="btn btn-primary"  type="button">СОХРАНИТЬ</button>
        </div>
    </div>
</div>