<div class="container">
    <div class="my-3">
        <h4>ПРИЕМНАЯ КОМИССИЯ</h4>
    </div>
    <div class="row">
        <div class="col-sm-12 offset-md-1 col-md-5">
            <div class="text-center">
                <img class="rounded" src="https://ksu.edu.ru/images/PRIEMNAY_KOMISSIYA/rudnickaya-tyu.jpg" width="150" height="200">
            </div>
            <div class="text-center">
                <span>Рудницкая Татьяна Юрьевна</span>
                <p>ответственный секретарь Приемной комиссии.</p>
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="text-center">
                <img class="rounded" src="https://ksu.edu.ru/images/PRIEMNAY_KOMISSIYA/Buslova_EV.jpg"  height="200">
            </div>
            <div class="text-center">
                <span >Буслова Елена Викторовна</span>
                <p>заместитель ответственного секретаря Приемной комиссии.</p>
            </div>
        </div>
        <div class="col-sm-12">
            <p><span><strong>Часы работы:</strong></span><span ><strong>будни:</strong> с 9.00 до 15.30 </span><span ><strong>суббота:</strong> с 9.00 до 12.00</span>&nbsp;</p>
            <p><span><strong>Адрес:</strong> 156005, г. Кострома, ул. Дзержинского, 17, каб. 114</span>&nbsp;</p>
            <p><span><strong>Телефон:</strong> (4942) 49-80-44</span>&nbsp;</p>
            <p><span><strong>E-mail:</strong> <span id="cloak6c296a293945e4ace291dc4829cae5f9"><a href="mailto:priem@ksu.edu.ru">priem@ksu.edu.ru</a></span></span></p>
            <br>
            <p><span><strong>&nbsp;ФУНКЦИИ ПРИЕМНОЙ КОМИССИИ</strong></span></p>
            <p><span>Основной задачей приёмной комиссии является обеспечение набора граждан для обучения в КГУ.</span></p>
            <p><span><strong><span>НАПРАВЛЕНИЯ ДЕЯТЕЛЬНОСТИ</span></strong></span></p>
            <p><span>Разработка и утверждение Правил приема в КГУ;</span></p>
            <p><span>Профориентационная работа;</span></p>
            <p><span>Организация информирования абитуриентов;</span></p>
            <p><span>Организация приёма документов от абитуриентов;</span></p>
            <p><span>Подготовка и проведение вступительных испытаний;</span></p>
            <p><span>Подготовка личных дел для передачи в отдел кадров, деканаты, архив.</span></p>
            <p><span><strong>ШТАТ ПРИЕМНОЙ КОМИССИИ:</strong></span></p>
            <p><span>Рудницкая Татьяна Юрьевна&nbsp;– ответственный секретарь Приемной комиссии.</span></p>
            <p><span>Буслова Елена Викторовна – заместитель ответственного секретаря Приемной комиссии.</span></p>
            <br>
            <p><span >Максимова Маргарита Львовна – ведущий документовед.</span></p>
            <p><span >Клименкова Алёна Игоревна – специалист по учебно-методической работе.</span>&nbsp;</p>
        </div>
    </div>
    <div class="row" class="mx-3">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="map-responsive">
                <iframe height="550" id="gmap_canvas" src="https://maps.google.com/maps?q=%D0%A4%D0%93%D0%91%D0%9E%D0%A3%20%D0%9A%D0%BE%D1%81%D1%82%D1%80%D0%BE%D0%BC%D1%81%D0%BA%D0%BE%D0%B9%20%D0%B3%D0%BE%D1%81%D1%83%D0%B4%D0%B0%D1%80%D1%81%D1%82%D0%B2%D0%B5%D0%BD%D0%BD%D1%8B%D0%B9%20%D1%83%D0%BD%D0%B8%D0%B2%D0%B5%D1%80%D1%81%D0%B8%D1%82%D0%B5%D1%82&amp;t=&amp;z=15&amp;ie=UTF8&amp;iwloc=&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
            </div>
            <!--<a href="https://www.emojilib.com"></a>-->
        </div>
    </div>
</div>