<footer id="yt_footer" class="block">
    <hr>
    <div class="container">
        <div class="row offset-1">
            <div id="yt_copyright" class="col-sm-12 mt-2">
                <p class="p-0 m-0 text-secondary mt-1 small">Федеральное государственное бюджетное образовательное учреждение высшего образования «КОСТРОМСКОЙ  ГОСУДАРСТВЕННЫЙ УНИВЕРСИТЕТ»<br></p>
                <p class="p-0 m-0 text-secondary mt-1 small"> Лицензия на осуществление образовательной деятельности КГУ № 2371 от 06.09.2016 года.<br></p>
                <p class="p-0 m-0 text-secondary mt-1 small">Свидетельство о государственной аккредитации № 2985 от 23.01.2019 года.<br></p>
                <p class="p-0 m-0 text-secondary mt-1 small">156005, ЦФО, Костромская область, г.Кострома, ул.Дзержинского, д.17 Тел. +7 (4942) 49-80-00 (ректорат), +7 (4942) 49-80-44 (приемная комиссия)<br></p>
                <p class="p-0 m-0 text-secondary mt-1 small">При перепечатке текстовой информации и фотографий ссылка на сайт обязательна.<br></p>
                <div class="footer-copyright text-center d-inline-flex my-2">
                    <p class="p-0 m-0 text-secondary  small">© 2017-{{getCurrentYear()}} Copyright:
                        <a target="_blank" class="text-primary" href="https://ksu.edu.ru/">ksu.edu.ru</a>
                    </p>
                </div>

            </div>
        </div>
    </div>
</footer>