<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Приемная комиссия</title>
    <meta name="description" content="Применая комиссия КГУ">
    <meta name="keywords" content="ksu, abiturient">
    <link rel="icon" type="image/x-icon" href="images/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/angular-bootstrap/ui-bootstrap-csp.css">
    <link rel="stylesheet" href="app.css?1.0">
    <link rel="stylesheet" href="bower_components/angular-ui-select/select.min.css">
    <link rel="stylesheet" href="bower_components/jquery/1.12.1/jquery-ui.css">
    <link rel="stylesheet" href="bower_components/calendar/css/eventCalendar.css">
    <link rel="stylesheet" href="bower_components/font-awesome/css/all.min.css">
</head>
<body ng-cloak>
<div ng-controller="UserCtrl">
    <nav class="navbar navbar-dark navbar-expand-md fixed-top  navbar--apple bg-dark-transparent">
        <div class="container-fluid" >
            <div style="display: contents;" ng-include="'navBar.html'"></div>
        </div>
    </nav>
    <div ng-view class="theme-showcase" role="main"></div>
    <div style="display: contents;" ng-include="'footer.html'"></div>
</div>
<!--Plugins and other components-->
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/jquery/jquery.maskedinput.min.js"></script>
<script src="bower_components/jquery/1.12.1/jquery-ui.js"></script>
<script src="bower_components/jquery/jquery.blockUI.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/bootstrap/js/bootstrap.min.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-filter/dist/angular-filter.js"></script>
<script src="bower_components/angular-ui-select/select.min.js"></script>
<script src="bower_components/calendar/js/jquery.eventCalendar.js"></script>
<script src="bower_components/font-awesome/js/all.min.js"></script>

<!--Application Angular JS files-->
<script src="app.js?1.0"></script>
<script src="services.js?1.0"></script>
<script src="login/login.js?1.0"></script>
<script src="lk/lk.js?1.0"></script>
<script src="apply/applyDocuments.js?1.0"></script>
<script src="direction/direction.js?1.0"></script>
<script src="prkom/prkom.js?1.0"></script>
<script src="support/support.js?1.0"></script>
<script src="mainPage/mainPage.js?1.0"></script>
<script src="registration/registration.js?1.0"></script>
<script src="remember/remember.js?1.0"></script>
<script src="modalWindows/ConfirmationModal/confirmationModal.js?1.0"></script>
<script src="modalWindows/InfoModal/infoModal.js?1.0"></script>

<!--<ui-select id="tlNewItemSelect"
           class="border rounded form-control-sm lk_input marginBottom10"
           ng-model="user.sex.selected"
           theme="selectize">
    <ui-select-match class="text-left" style="font-size: 10pt">
        <span style="height: 10px">{{$select.selected.lastName+' '+$select.selected.firstName | limitTo:18}}</span>
    </ui-select-match>
    <ui-select-choices class="text-left new-item-select-width"
                       repeat="tl in teamLeaders">{{tl.lastName+' '+tl.firstName}}
    </ui-select-choices>
</ui-select>-->
<script type="text/javascript" src="https://vk.com/js/api/openapi.js?1.0"></script>
</body>
</html>

