<div>
    <div class="container">
        <div class="row" style="margin-bottom: 40px;">
            <div class="col-md-12">
                <p class="text-left" style="font-size: 20px;font-family: Montserrat, sans-serif;font-weight: bold;">ДОБАВИТЬ ЗАЯВЛЕНИЕ</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <p >Выберите уровень образования:</p >
                <div class="pb-2" ng-repeat="education in educations">
                    <button class="btn btn-light rounded border-dark" data-toggle="tooltip" data-bs-tooltip="" data-placement="right" type="button"
                            style="max-width: 100%;width: 460px;" title="" data-original-title="Я подсказка">
                        {{education.education | uppercase }}</button>
                </div>
            </div>
        </div>
        <
    </div>
</div>