<div>
    <div class="row">
        <div class="col-sm-12">
            <h4 class="text-left">ЗАЯВЛЕНИЯ</h4>
            <p class="text-left" >{{ user.lastName+' '+user.firstName+(user.patronymic?' '+user.patronymic:'') }}</p>
        </div>
    </div>
    <div class="row" ng-if="isLoading">
        <div class="col-sm-12 ">
            <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
    <div class="row" ng-if="userApplies.length==0 && !isLoading">
        <div class="col-sm-12 ">
            <p class="small">Нет заявлений</p>
        </div>
    </div>
    <div ng-if="userApplies.length>0 && !isLoading" >
        <div class="table-responsive">
            <table class="table w-100">
                <thead>
                <tr>
                    <th class="auto-width text-nowrap">НОМЕР ЗАЯВЛЕНИЯ</th>
                    <th class="auto-width">НАПРАВЛЕНИЕ</th>
                    <th class="auto-width text-nowrap">ФОРМА ОБУЧЕНИЯ</th>
                    <th class="auto-width">НАПРАВЛЕНИЕ</th>
                    <th class="auto-width">ПРОФИЛЬ</th>
                    <th class="auto-width">ЭКЗАМЕНЫ</th>
                    <th class="auto-width">СТАТУС</th>
                    <th width="70"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="apply in userApplies">
                    <td>{{apply}}</td>
                    <td>{{apply}}</td>
                    <td>{{apply}}</td>
                    <td>{{apply}}</td>
                    <td>{{apply}}</td>
                    <td>{{apply}}</td>
                    <td>{{apply}}</td>
                    <td>
                        <button class="btn p-0"><i class="fa fa-times"></i></button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="text-center">
        <button class="btn btn-primary" ng-click="createApply()" type="button">
            <i class="fas fa-plus small"></i> ДОБАВИТЬ
        </button>
    </div>
</div>